# Server
PORT=3001
API_KEY=change-me
SUBS_FILE=./subscriptions.json
APP_URL=https://your-github-pages-url/

# MQTT
MQTT_URL=wss://broker.hivemq.com:8884/mqtt
MQTT_TOPIC_STATUS=babu/esp32/status

# VAPID
VAPID_PUBLIC_KEY=your_public_key
VAPID_PRIVATE_KEY=your_private_key
